@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary: #fea301;
  --color-secondary: #01acfd;
  --color-tertiary: #05d4df;
  --color-quaternary: #5d58ef;

  --color-dark: #111111;

  --color-lime: #95b226;

  --color-white: #ffffff;

  --color-light-blue: #def5ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

/*===============common styles===============*/

.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.btn {
  border: none;
  border-radius: 12px;
  padding: 10px 34px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
}

.section-heading {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.bg-primary {
  background-color: var(--color-primary);
}
.bg-black {
  background-color: var(--color-dark);
}

.text-white {
  color: var(--color-white);
}
.text-black {
  color: var(--color-dark);
}
.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-tertiary {
  color: var(--color-tertiary);
}
.text-quaternary {
  color: var(--color-quaternary);
}

/*=====================header styles=================*/

.header {
  padding-block: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.nav-logo p {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-items li {
  list-style: none;
}

.nav-items .nav-links {
  text-decoration: none;
  font-size: 1rem;
}

.nav-items li:first-child a {
  font-weight: bold;
}

.nav-items li:not(:first-child) {
  font-weight: 500;
}

.btn-icon {
  display: none;
}

/*====================hero section===================*/

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.hero-section > div:first-child {
  flex-shrink: 0;
}

.hero-image img {
  width: 100%;
}

.hero-content h1 {
  font-size: 44px;
  font-weight: bold;
}

.hero-content p {
  font-size: 18px;
  margin-block: 18px;
}

/*===================curriculum section==============*/

.curriculum-section,
.stories-section {
  background-image: url("assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 40px;
}

.curriculum-cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 24px;
}

.curriculum-card {
  text-align: center;
  padding: 36px 26px;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}
.curriculum-card:nth-child(1) {
  background-image: linear-gradient(
    var(--color-light-blue) 0%,
    var(--color-white) 40%
  );
  border: 1px solid var(--color-light-blue);
}
.curriculum-card:nth-child(2) {
  background-image: linear-gradient(#fff4dc 0%, var(--color-white) 40%);
  border: 1px solid #fff4dc;
}
.curriculum-card:nth-child(3) {
  background-image: linear-gradient(#eee1ff 0%, var(--color-white) 40%);
  border: 1px solid #eee1ff;
}

.curriculum-card > h3 {
  font-size: 22px;
  font-weight: bold;
  color: #202020;
}

.curriculum-card > p {
  color: #808080;
  line-height: 1.6;
}

.btn-group {
  margin-top: 50px;
  text-align: center;
}

.btn-group button {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  padding: 0;
  transition: background-color 500ms ease;
}
.btn-group button:hover {
  background-color: rgba(254, 163, 1, 0.8);
}

/*================stories section================*/

.stories-section {
  background-image: url("assets/bg.png"),
    linear-gradient(360deg, rgba(254, 163, 1, 0.3) 0%, var(--color-white) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 40px;
}

.stories-cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.stories-cards-2nd {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.stories-card {
  background-color: var(--color-white);
  overflow: clip;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.stories-card img {
  width: 100%;
  object-fit: cover;
}

.stories-date {
  font-family: "Raleway", serif;
  max-width: max-content;
  padding: 10px 14px;
  border-radius: 48px;
  font-weight: 500;
  color: var(--color-white);
  font-size: 14px;
  position: relative;
  z-index: 1;
}

.stories-cards > .stories-card:first-child .stories-date {
  background-color: #3cd8e8;
  margin-top: -45px;
}

.stories-card:nth-child(odd) .stories-date {
  background-color: #95b226;
}
.stories-card:nth-child(even) .stories-date {
  background-color: #5d58f0;
}

.stories-content {
  padding: 20px 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 5px;
}

.stories-cards > .stories-card:first-child .stories-content h4 {
  font-size: 24px;
  font-weight: bold;
}
.stories-cards > .stories-card:first-child .stories-content p {
  font-size: 14px;
  line-height: 1.6;
  color: #666666;
  font-weight: 500;
}

.stories-cards-2nd .stories-card h4 {
  line-height: 1.6;
  font-weight: bold;
}
.stories-cards-2nd .stories-date {
  margin-top: -40px;
}


.stories-action{
  text-align: center;
  margin-block: 40px;
}

/*========================footer section=============*/

footer{
  background-color: var(--color-secondary);
}


/*=========================responsive=================*/

@media screen and (max-width: 1024px) {
  /*====================hero section=============*/
  .hero-content h1 {
    font-size: 34px;
  }
  .hero-content p {
    font-size: 14px;
  }

  /*======================curriculum section================*/

  .curriculum-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  /*stories section*/
  .stories-cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  /*=====================common====================*/
  .btn {
    font-size: 12px;
  }

  /*========================header==================*/

  .header {
    border-bottom: 1px solid var(--color-primary);
  }

  .nav-logo > p {
    display: none;
  }
  .nav-items {
    display: none;
  }

  .nav-btn button:first-child {
    display: none;
  }

  .btn-icon {
    display: block;
    font-size: 26px;
  }

  /*====================hero section=============*/

  .hero-section {
    margin-top: 40px;
  }

  .hero-content h1 {
    font-size: 24px;
  }
  .hero-content p {
    font-size: 12px;
  }
}

@media screen and (max-width: 648px) {
  /*===================hero section=================*/

  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-content h1 {
    font-size: 26px;
  }

  .hero-content {
    text-align: center;
  }

  /*==================curriculum section===============*/
  .curriculum-cards {
    grid-template-columns: 1fr;
  }
  .btn-group {
    display: none;
  }
  .section-heading {
    font-size: 26px;
  }

  /*stories section*/
  .stories-cards > .stories-card:first-child {
    display: none;
  }
  .stories-content {
    padding: 20px 5px 20px 10px;
  }
  .stories-date {
    padding: 8px 12px;
    font-size: 9px;
  }
  .stories-cards-2nd .stories-card h4 {
    font-size: 12px;
  }
}
