@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --color-primary: #fea301;
  --color-secondary: #01acfd;
  --color-tertiary: #05d4df;
  --color-quaternary: #5d58ef;

  --color-dark: #111111;

  --color-lime: #95b226;

  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

/*===============common styles===============*/

.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.btn {
  border: none;
  border-radius: 12px;
  padding: 10px 34px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  background-color: transparent;
  font-family: "Quicksand", sans-serif;
}

.bg-primary {
  background-color: var(--color-primary);
}
.bg-black {
  background-color: var(--color-dark);
}

.text-white {
  color: var(--color-white);
}
.text-black {
  color: var(--color-dark);
}
.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-tertiary {
  color: var(--color-tertiary);
}
.text-quaternary {
  color: var(--color-quaternary);
}

/*=====================header styles=================*/

.header {
  padding-block: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.nav-logo p {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-items li {
  list-style: none;
}

.nav-items .nav-links {
  text-decoration: none;
  font-size: 1rem;
}

.nav-items li:first-child a {
  font-weight: bold;
}

.nav-items li:not(:first-child) {
  font-weight: 500;
}

.btn-icon {
  display: none;
}

/*====================hero section===================*/

.hero-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-section > div:first-child {
  flex-shrink: 0;
}

.hero-image img {
  width: 100%;
}

.hero-content h1 {
  font-size: 44px;
  font-weight: bold;
}

.hero-content p {
  font-size: 18px;
  margin-block: 18px;
}

/*=========================responsive=================*/

@media screen and (min-width: 1024px) {
  .hero-section > div:first-child {
    width: 55%;
  }
  .hero-section > div:nth-child(2) {
    width: 45%;
  }
}

@media screen and (max-width: 1024px) {
  /*====================hero section=============*/
  .hero-content h1 {
    font-size: 34px;
  }
  .hero-content p {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  /*=====================common====================*/
  .btn {
    font-size: 12px;
  }

  /*========================header==================*/

  .header {
    border-bottom: 1px solid var(--color-primary);
  }

  .nav-logo > p {
    display: none;
  }
  .nav-items {
    display: none;
  }

  .nav-btn button:first-child {
    display: none;
  }

  .btn-icon {
    display: block;
    font-size: 26px;
  }

  /*====================hero section=============*/

  .hero-section {
    margin-top: 40px;
  }

  .hero-content h1 {
    font-size: 24px;
  }
  .hero-content p {
    font-size: 12px;
  }
}

@media screen and (max-width: 648px) {
  /*===================hero section=================*/

  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-content h1 {
    font-size: 26px;
  }

  .hero-content {
    text-align: center;
  }
}
